

// #container {
//     background: rgb(33,27,139) !important;
//     background: linear-gradient(180deg, rgba(33,27,139,1) 0%, rgba(67,67,176,1) 35%, rgba(10,135,161,1) 100%) !important;
//     height: 100vh !important;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: nowrap;
//     justify-content: center;
// }

#logoImg {
    margin: 2% auto;
    width: 50%;
    height: fit-content;
}

.btn_init {
    width: 75% !important;
    align-self: center;
}