<ion-content>

  <div id="container" class="ion-text-center">

    <!-- <ion-item> -->
      <ion-img id="logoImg" [src]="logoSrc"></ion-img>      
    <!-- </ion-item> -->
    
    <!-- <h4>Bienvenido</h4>     -->
    <h4> Ya eres usuario?</h4>
    <ion-button mode="ios" class="btn_init" color="success" fill="solid" shape="round" [routerLink]="['/login']">
      Ingresar
    </ion-button>
    <h4> O </h4>
    <ion-button class="btn_init" color="secondary" fill="solid" shape="round" [routerLink]="['/register']">
      Registrarse
    </ion-button>    
    
  </div>

</ion-content>
