<ion-content>
  
  <div id="container">

    <h4 id="intraHeader">Intra Store</h4>

    <ion-img id="logoImg" [src]="logoSrc"></ion-img>     
    
    <!-- <ion-card-header>
      <ion-card-title>Ingresa a tu cuenta de <strong>IntraStore</strong></ion-card-title>
    </ion-card-header> -->

    <ion-item color="default">
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input [(ngModel)]="email" type="text" required></ion-input>
    </ion-item>

    <ion-item color="default">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" required></ion-input>
    </ion-item>

    <ion-button mode="ios" class="ion-margin-top btnWidthClass" [disabled]="(password == '' || email == '') &&   sending" type="submit" shape="round" color="success" (click)="onSubmit()">
      <div [ngSwitch]="sending">
        <div *ngSwitchCase="false">Ingresar</div>
        <div *ngSwitchDefault><ion-spinner></ion-spinner></div>
      </div>
    </ion-button>
    <ion-button mode="ios" class="ion-margin-top btnWidthClass" [disabled]="sending" type="submit" shape="round" color="primary" (click)="goRegister()">
    <!-- <ion-button mode="ios" class="ion-margin-top btnWidthClass" type="submit" shape="round" color="warning" (click)="goBack()"> -->
      Registrate
    </ion-button>

  </div>

</ion-content>
