// #container {
//     background: rgb(33,27,139) !important;
//     background: linear-gradient(180deg, rgba(33,27,139,1) 0%, rgba(67,67,176,1) 35%, rgba(10,135,161,1) 100%) !important;
//     height: 100% !important;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: nowrap;
//     justify-content: center;
// }

.btnWidthClass {
    width: 75% !important;
    align-self: center;
}

#logoImg {
    margin: 2% auto;
    width: 50%;
    height: fit-content;
}

#intraHeader {
    align-self: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 25px;
    letter-spacing: -1.2px;
    word-spacing: -2.2px;
    color: #fff;
    font-weight: 400;
    // text-decoration: overline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}