<ion-content color="default">
  <div id="container">

    <ion-card-header>
      <ion-card-title>Crea una cuenta de <strong>IntraStore</strong></ion-card-title>
    </ion-card-header>

    <ion-item color="default">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre" type="text" required></ion-input>
    </ion-item>

    <ion-item color="default">
      <ion-label position="floating">Telefono</ion-label>
      <ion-input [(ngModel)]="usuario.telefono" type="text" required></ion-input>
    </ion-item>

    <ion-item color="default">
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input [(ngModel)]="usuario.email" type="text" required></ion-input>
    </ion-item>

    <ion-item color="default">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="usuario.password" type="password" required></ion-input>
    </ion-item>

    <ion-item color="default">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input [(ngModel)]="confirm_password" type="password" required></ion-input>
    </ion-item>

    <ion-button mode="ios" class="ion-margin-top btnWidthClass" type="submit" shape="round" color="success" (click)="onSubmit()">
      Crear Cuenta
    </ion-button>

    <ion-button mode="ios" class="ion-margin-top btnWidthClass" type="submit" shape="round" color="primary" (click)="goLogin()">
      Ingresar
    </ion-button>

<!--     
    <ion-label class="ion-text-center ion-margin">Or</ion-label>    

    <ion-button mode="ios" color="dark" expand="block" fill="outline" [routerLink]="['/login']">Login</ion-button> -->
  </div>
</ion-content>