#container {
    justify-content: flex-start;
}

.basic_div_wborder {
    width: 95%;
    margin: 2% auto;
    display: flex;
    border-top: solid 2px #b5179e;
}

.basic_div {
    width: 95%;
    margin: 2% auto;
    display: flex;
}

#user_top_div {
    align-self: flex-start;
    height: 7%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#user_icon {
    font-size: 45px !important;
    margin-right: 5px !important;
}

#quick_access_div {    
    margin-top: 4%  ;
    height: min-content;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.btnWidthClass {
    margin-top: auto;
    align-self: center;
    flex-grow: 1;
}

#searchbar_div {
    height: min-content;
    border-top: solid 2px #b5179e;
}

#stores_div {
    flex-direction: column;
    justify-items: flex-start;    
}

.tienda_div {
    margin-bottom: 15px;
    width: 100%;
    height: 75px;    
    border-bottom: solid 2px #4cc9f0;
    display: flex;
    flex-direction: row;    
    align-items: flex-start;
    justify-content: space-around;    
    text-decoration: none;
    color: white;
}

.tienda_pic {
    width: 16%;    
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tienda_info {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.tienda_name {
    width: 100%;    
    height: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    font-size: large;
    border-bottom: solid 1px #f94144;
}

.tienda_desc {
    width: 100%;
    height: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    color: white;
    font-size: small;
}