<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido <span> {{usuario.nombre}} </span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->


<ion-content color="default">
  <div id="container">
    
    <!-- <div class="basic_div" id="user_top_div">
      <ion-icon name="person-circle-sharp" id="user_icon"></ion-icon>
      <span>{{usuario.nombre}} </span>
    </div> -->

    <ion-header>
      <ion-toolbar>
        <div class="basic_div" id="user_top_div">
          <ion-icon name="person-circle-sharp" id="user_icon"></ion-icon>
          <span>{{usuario.nombre}} </span>
        </div>
      </ion-toolbar>
    </ion-header>

    <div class="basic_div" id="quick_access_div">

      <ion-button mode="ios" class="ion-margin-top btnWidthClass" type="submit" color="tertiary" fill="outline">
        Pedidos <ion-icon name="clipboard-sharp"></ion-icon>
      </ion-button>

      <ion-button mode="ios" class="ion-margin-top btnWidthClass" type="submit" color="tertiary" fill="outline">
        Carritos <ion-icon name="cart-sharp"></ion-icon>
      </ion-button>      

    </div>

    <div class="basic_div" id="searchbar_div">
      <ion-searchbar mode="ios" placeholder="Busca productos o tiendas"></ion-searchbar>
    </div>

    <div id="stores_div" class="basic_div">

      <a href="" class="tienda_div" *ngFor="let t of tiendas">

        <div class="tienda_pic">
          <ion-icon size="large" name="storefront-sharp" style="color: white;"></ion-icon>
        </div>
        <div class="tienda_info">
          <span class="tienda_name">{{t.nombre}}</span>
          <span class="tienda_desc">
            D e s c r i p t i o n
          </span>
        </div>

      </a>    
    </div>

  </div>
</ion-content>